  <div>
<!--    <nz-page-header class="site-page-header">-->
<!--      &lt;!&ndash;title&ndash;&gt;-->
<!--      <nz-page-header-title>New Patient</nz-page-header-title>-->

<!--    </nz-page-header>-->

    <form (ngSubmit)="save()" [formGroup]="patientForm" nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Patient Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Patient Name!">
          <input formControlName="name" id="name" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired>Gender</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Gender!">
          <nz-select formControlName="gender" id="gender">
            <nz-option *ngFor="let o of genderEnum | keyvalue" [nzLabel]="o.key" [nzValue]="o.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dob" nzRequired>DOB</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid DOB!">
          <nz-date-picker formControlName="dob" id="dob"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bloodGroup" nzRequired>Blood Group</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Blood Group!">
          <nz-select formControlName="bloodGroup" id="bloodGroup">
            <nz-option *ngFor="let o of bloodGroupEnum | keyvalue" [nzLabel]="o.key" [nzValue]="o.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mobileNumber" nzRequired>Mobile Number</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Mobile Number!">
          <input formControlName="mobileNumber" id="mobileNumber" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Email!">
          <input formControlName="email" id="email" nz-input />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="symptoms">Symptoms</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="symptoms" id="symptoms" nz-input />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button (click)="cancel()" nz-button nzType="default">Cancel</button>
    <button (click)="save()" [nzLoading]="isConfirmLoading" nz-button nzType="primary" [disabled]="patientForm.invalid">Save</button>
  </div>
