<div nz-row [nzGutter]="24">
  <div nz-col nzSpan="18">
    <nz-calendar [(ngModel)]="date" [(nzMode)]="mode" (nzPanelChange)="panelChange($event)"></nz-calendar>
  </div>

  <div nz-col nzSpan="6">
    <div nz-row>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Choose a Specialist" style="width: 100%; top: 12px" [nzLoading]="isLoadingListOfSpecialists">
        <nz-option *ngFor="let o of listOfSpecialists" [nzLabel]="o.name" [nzValue]="o"></nz-option>
      </nz-select>
    </div>
  </div>
</div>


